@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

:root {
  --primary-color: #498d8a;
}

body {
  background: #f2f2f2;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

a {
  color: #444;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 5em 2em;
}

footer {
  grid-area: footer;
  background-color: var(--primary-color);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

iframe {
  height: 300px;
  width: 100%;
  margin-bottom: 1em;
}
